*.apk
*.zip
*.jar
tmp/
apk_check/
apk_mod/
apktool_*
extracted/
extracted2/
minimal/
minimal_res/
inject_manifest/
full_apk/
hybrid_apk/
hybrid_nosig/
hybrid_v2/
compiled_res/
compiled_resources.zip
test_manifest_apk/
